input[type="text"]{
  color: $text-color;
  border: none;
  border-bottom: 2px solid $accent-color;
  outline: none;
  background-color: transparent;
}

.primary-text{
  @if $theme-type == "dark"{
    color: rgba($text-color, 1);
  }
  @else{
    color: rgba($text-color, 0.87);
  }
}

.secondary-text{
  @if $theme-type == "dark"{
    color: rgba($text-color, 0.70);
  }
  @else{
    color: rgba($text-color, 0.54);
  }
}

.disabled-text{
  @if $theme-type == "dark"{
    color: rgba($text-color, 0.50);
  }
  @else{
    color: rgba($text-color, 0.38);
  }
}
